* main {
  max-width: 1200px;
  margin: auto;
}

/************************* generalle regler ***********************/
html {
  --primary: #ffffff;
}

/***************************** logo ********************************/
.logo {
  margin-top: -6%;
  margin-left: -3%;
}

/*********************menubar**************************************/
header {
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  z-index: 100;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
  gap: 30px;
  overflow-x: auto;
}

a {
  text-decoration: none;
  font-weight: 200;
  color: #6f2625;
     font-family: "Kaushan Script", cursive;
}

a:hover {
  color: #d3a056;
}

a.active {
  color: #d3a056;
}
/***************************************body baugrund***********************************/

body {
  background-image: url(billeder/gen_30.svg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
}

/************************************* billeder  *************************************/

img {
  position: relative;
  left: 10%;
  height: auto;
  width: 80%;
  margin-bottom: 5%;
  margin-top: 5%;
}

/************************************* tekst ******************************************/
h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 5%;
}
h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 2rem;
  text-align: center;
  margin-top: 13%;
  margin-bottom: 5%;
}
h3{
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  margin-left: 10%;
  margin-bottom: 0%;
}
p {
  font-family: "Marcellus", serif;
  margin-left: 5%;
  line-height: 160%;
  font-size: 1rem;
}
.tekstbox {
  background-color: rgba(223, 204, 164, 0.7);
  padding: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  margin-top: 0%;
  width:fit-content;
  height:fit-content;
}
.a_link{
  margin-left: 5%;
    margin-bottom: 10%;
    font-size: 1.7rem;
}
/***************************** forside  *********************/
.img_freja {
  border-radius: 50%;
  margin-top: 10%;
  left: 15%;
  width: 70%;
  margin-bottom: -7%;
}

.p_navn {
  margin-left: 53%;
  margin-top: 2%;
  font-family: "Marcellus", serif;
   font-size: 1rem;
}
/***************************** 03  *********************/



/************************************  web *******************************************/

@media (min-width: 750px) {
  /****************************baugrunds billed *************************************/
  body {
    background-image: url(billeder/dor_left01.svg), url(billeder/dor_right01.svg), url(/billeder/baugrund.webp);
    background-position: right, left, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-attachment: fixed;
    padding: 0 100px;
    background-attachment: fixed;
    background-size: auto, auto, 100%;
    z-index: 1000;
  }

  /*************************************** menubar *************************************/

  /************************************* billeder *************************************/

  /************************************* tekst ******************************************/
}
