* main {
  max-width: 1200px;
  margin: auto;
}

/***************************** logo ********************************/
.logo {
  margin-top: -7%;
  margin-left: -5%;
  width: 34%;
}

/*********************menubar**************************************/
.banner {
  padding: 2rem;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px 40px;
}
.toggle-btn {
  display: block;
}
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  font-family: "Marcellus", serif;
}
.main-menu.shown {
  display: contents;
}

.main-menu ul {
  display: none;
}

.main-menu.shown ul {
  border-top: 3px solid #000;
  padding-top: 1rem;
  display: flex;
  flex-flow: column;
  flex-basis: 100%;
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 200;
  color: #000;
  font-family: "Kaushan Script", cursive;
  font-size: 1.3rem;
}

a:hover {
  color: #d3a056;
}

a.active {
  color: #c7792e;
}
/***************************************body baugrund***********************************/

body {
  background-image: url(/billeder/mobilbaugrund.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  margin: 0;
  height: 100%;
}

/************************************* billeder  *************************************/

img {
  position: relative;
  left: 10%;
  height: auto;
  width: 80%;
  margin-bottom: 5%;
  margin-top: 5%;
}

/************************************* tekst ******************************************/
h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 5.5rem;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 0%;
}
h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  margin-left: 10%;
  margin-bottom: 0%;
}
p {
  font-family: "Marcellus", serif;
  margin-left: 5%;
  line-height: 160%;
  font-size: 1rem;
}
.tekstbox {
  background-color: rgba(223, 204, 164, 0.7);
  padding: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  margin-top: 0%;
  width: fit-content;
  height: fit-content;
}
.a_link {
  margin-left: 5%;
  margin-bottom: 10%;
  font-size: 1.7rem;
}

/****************************** footer ************************/
footer {
  background-color: #594936;
  height: 120px;
  display: grid;
  margin-top: 120px;
}
.footer_p {
  font-size: 1.2rem;
}
/***************************** forside  *********************/
.img_freja {
  border-radius: 50%;
  margin-top: 10%;
  left: 15%;
  width: 70%;
  margin-bottom: -7%;
}

.p_navn {
  margin-left: 53%;
  margin-top: 2%;
  font-family: "Marcellus", serif;
  font-size: 1rem;
}
.liste {
  font-family: "Marcellus", serif;
  font-size: 1rem;
  line-height: 160%;
}
/***************************** 05  *********************/

video {
  width: 90%;
  height: auto;
  display: block;
  margin-left: 5%;
}

/************************************  web *******************************************/

@media (min-width: 750px) {
  /***************************************body ***********************************/

  body {
    background-image: url(/billeder/bugrunddor_01.webp);
    margin: 0;
    height: 100%;
    background-size: cover;
  }
  /*************************************** menubar *************************************/

  .banner {
    background-color: #594936;
    margin-left: 7.6%;
    margin-right: 7.6%;
    margin-bottom: 5%;
    padding: 0rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px 40px;
  }

  .toggle-btn {
    display: none;
  }
  .main-menu {
    margin-right: 5%;
  }
  .main-menu ul {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    list-style: none;
    padding: 1rem 2rem;
    gap: 30px;
    font-size: 1.5rem;
  }
  .main-menu ul li {
    text-align: center;
  }
  /***************************** logo ********************************/
  .logo {
    margin-top: -3%;
    left: -10%;
    width: 15%;
    margin-bottom: 0%;
  }
  /************************************* fonts *************************************/
  p {
    font-family: "Marcellus", serif;
    margin-left: 5%;
    line-height: 160%;
    font-size: 1.2rem;
  }

  /************************************* portfolie **************************************/
  .Portfolio {
    font-size: 16rem;
  }
  .img_freja {
    border-radius: 50%;
    margin-top: 10%;
    left: 15%;
    width: 70%;
    margin-bottom: -7%;
  }

  .p_navn {
    margin-left: 60%;
    margin-top: 0%;
    font-family: "Marcellus", serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  /************************************* 02 ******************************************/
  /************************************* 03 ******************************************/
  /************************************* 04 ******************************************/
  /************************************* 05 ******************************************/
  /************************************* 06 ******************************************/
}
